@model asp_core_mvc.ViewModels.TransactionsModel

@{
    ViewBag.Title = "Transactions";
}

<h1>@ViewBag.Title</h1>

<div class="container">
    <form asp-action="Index">
        <div class="row col-sm-3 mb-3">
            <select class="form-control" asp-for=@Model.curAccount onchange="this.form.submit()">
                @foreach (Int32 accountID in Model.accounts)
                {
                <option value=@accountID>Account ######@accountID.ToString().Substring(6)</option>
                }
            </select>
        </div>
    </form>
</div>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Date</th>
            <th>Desc</th>
            <th>Location</th>
            <th>Amount</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Transactions transaction in Model.transactions)
        {
            <tr>
                <td>@transaction.TransDate</td>
                <td>@transaction.TransDesc</td>
                <td>@transaction.Location</td>
                <td>@String.Format("{0}{1:0.00}", transaction.TransType, transaction.Amount)</td>
                <td>@String.Format("{0:0.00}", transaction.Balance)</td>
            </tr>
        }
    </tbody>
</table>

